{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block style %}

{% endblock %}


{% block content %}

    <div class="form"> 
      <h2>LOGIN</h2>

      {% get_providers as socialaccount_providers %}

      {% include "socialaccount/snippets/login_extra.html" %}

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        
        <div class="inputBx">
          {{ form.as_p }}
          {% if redirect_field_value %}
           <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        </div>
        
        <div class="inputBx">
          <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
        </div>
        <div class="social ">
          <a href="{% provider_login_url 'google' %}" role="button" class="google">
            <img src="/static/img/g-logo.png" alt="구글로고">
            Google
          </a>
          <a href="{% provider_login_url 'kakao' %}" role="button" class="kakao">
            <i class="bi bi-chat mr-3"></i>
            Kakao
          </a>
        </div>
      </form>
      <div class="btn">
        <div class="r_pw">
          <a href="{% url 'account_reset_password' %}">비밀번호찾기</a>
        </div>  
        <div class="su_btn">
          <a href="{% url 'account_signup' %}">회원가입</a>
        </div>
      </div>
      
    </div>
  

{% endblock %}
