{% extends "base.html" %}
{% load static %}

{% block style %} 
    
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
{% endblock %}

{% block title %} portfolio {% endblock %}

{% block content %}
    <!-- <div class="scrolling-text">
        <span class="pf_1">PORTFOLIO</span>
        <span class="pf_2">PORTFOLIO</span>
        <span class="pf_3">PORTFOLIO</span>
    </div> -->
    <h1>PORTFOLIO</h1>
    <div class="container">
        
        <section id="front">
            <div class="cafe24">
                <h4>FRONT-END</h4>
                <a href="http://jihye29.cafe24.com/" target="_blank">
                    CAFE24
                </a>
            </div>
        </section>


        <section id="back">
            <div class="pj_1">
                <h4>PROJECT_1</h4>
                <a href="/portfolio/start/">
                    게임하기
                </a>
            </div>
        </section>
        

    </div>

    <!-- <script>

        const scrollingText = document.querySelector('.scrolling-text');
        const textWidth = scrollingText.clientWidth;
        const containerWidth = scrollingText.parentNode.clientWidth;

        if (textWidth > containerWidth) {
        const clonedText = scrollingText.innerHTML;
        scrollingText.innerHTML += clonedText;
        }

    </script> -->

{% endblock %}