{% extends "base.html" %}
{% load static %}

{% block style %} 
    
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
{% endblock %}

{% block title %} portfolio {% endblock %}

{% block content %}
    <div class="scrolling-text">
        <span class="pf_1">PORTFOLIO</span>
        <span class="pf_2">PORTFOLIO</span>
        <span class="pf_3">PORTFOLIO</span>
    </div>
    <div class="container content">
        
        
        <div>
        <a href="/portfolio/start/">
            게임하기
        </a>
         </div>

    </div>

    <script>

        const scrollingText = document.querySelector('.scrolling-text');
        const textWidth = scrollingText.clientWidth;
        const containerWidth = scrollingText.parentNode.clientWidth;

        if (textWidth > containerWidth) {
        const clonedText = scrollingText.innerHTML;
        scrollingText.innerHTML += clonedText;
        }

    </script>

{% endblock %}