{% extends "base.html" %}
{% load static %}

{% block style %} 
    
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    
{% endblock %}

{% block title %} portfolio {% endblock %}

{% block content %}
<div class="pf_title">

    <h1>PORTFOLIO</h1>
</div>
<main>
    <div class="cards">
        <!-- 포트폴리오_1 -->
        <a class="stack" href="/portfolio/start/">
            <div class="card top">
                <div class="pf_contents">
                    <h1>TOY_PROJECT</h1>
                    <strong>끝말잇기</strong>         
                </div>
            </div>
            <div class="card mid-top"></div>
            <div class="card mid-bottom"></div>
            <div class="card bottom"></div>
            <div class="card shadow"></div>
        </a>
        <!-- 포트폴리오_2 -->
        <a class="stack" href="/dashboard_drug/">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT_1</h1>
                <strong>마약 현황 데이터 분석 시각화</strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
            <div class="pf_contents">
                <h1>PROJECT</h1>
                <strong></strong> 
            </div>
            </div>
            <div class="card mid-top">
            
            </div>
            <div class="card mid-bottom">
            
            </div>
            <div class="card bottom">
            
            </div>
            <div class="card shadow"></div>
        </a>
        
    </div>
  </main>


  <script src="{% static 'js/portfolio.js' %}"></script>




    <!-- <div class="scrolling-text">
        <span class="pf_1">PORTFOLIO</span>
        <span class="pf_2">PORTFOLIO</span>
        <span class="pf_3">PORTFOLIO</span>
    </div> -->
    

    <!-- <script>

        const scrollingText = document.querySelector('.scrolling-text');
        const textWidth = scrollingText.clientWidth;
        const containerWidth = scrollingText.parentNode.clientWidth;

        if (textWidth > containerWidth) {
        const clonedText = scrollingText.innerHTML;
        scrollingText.innerHTML += clonedText;
        }

    </script> -->

{% endblock %}