{% extends "base.html" %}
{% load static %}

{% block style %} 
    <link rel="shortcut icon" href="{% static 'img/main.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/community.css' %}">
{% endblock %}

{% block title %} 커뮤니티 {% endblock %}

{% block content %}
<div class="container">
    <div class="list-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
    </div>
    <ul class="co_list shadow">
        <h3 class="py-3">COMMUNITY</h3>
        <div class="list_tit pb-2">
            <p>제목</p>
            <div class="list_all">
                <span class="mr-2">글쓴이</span>
                <!-- <span>메일</span> -->
                <span>작성일</span>
            </div>
        </div>
        <!-- views.py : CBV방식으로 정의할 경우 -->
        <!-- template으로 넘겨지는 테이블 데이터 객체 변수는 -->
        <!-- 디폴트는  object_list-->
        <!-- {{ object_list }}
        {{ article_list }} -->
        
        {% for article in article_list %}
        <li class="list pb-2">         
            <a href="/community/view_detail/{{ article.id }}" class="  text-decoration-none">
                {{ article.title }}
            </a>  
            <div>
                <span class="mr-2">{{ article.name }}</span>
                <span>{{ article.cdate|date:"Y/m/d" }}</span>
             
            </div>
        </li>
        {% endfor %}
        <!-- 회원만 글쓰기 -->
        {% if user.is_authenticated %}
        <div class="wr_btn ml-2 mt-3">
            <a href="/community/write">
                <button type="submit" class="btn shadow">글쓰기</button>
            </a> 
        </div>
        {% endif %}
        <nav aria-label="Page navigation example" class="co_pgn">
            <ul class="pagination justify-content-center mb-4">
            
    
            <!-- 이전페이지 이동 -->
            <!-- 1페이지면 비활성화, 1페이지가 아닐경우는 활성화 -->
            <!-- page_obj.has_previous : 이전 페이지가 있으면 True -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                <a class="page-link" href="/community/?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <!-- 이전페이지가 없는 경우 -->
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
    
            <!-- 페이지별 목록 보기 -->
            <!-- 
                    views.py의 PostList 클래스에 paginate_by = 3 정의를 하면
                    템플릿에 넘겨주는 객체 변수
                    {{ page_obj.paginator.page_range }}
            -->
            {% for page in page_obj.paginator.page_range %}
                <!-- 현재 선택한 페이지  -->
                <!-- {{ page_obj.number }} -->
                {% if page_obj.number == forloop.counter %}
                <!-- 현재 선택한 페이지 번호는 비활성화 시킴 -->
                <li class="page-item disabled " >
                    <a class="page-link bg-pink text-white co_h"  href="{{ request.path }}?page={{page}}">
                        {{ page }}
                    </a>
                </li>
                {% else %}
                <!-- 선택하지 않은 페이지 번호는 활성화 시킴 -->
                <li class="page-item">
                    <a class="page-link co_h" href="{{ request.path }}?page={{page}}">
                        {{ page }}
                    </a>
                </li>
    
                {% endif %}
            {% endfor %}
            <!-- end 페이지별 목록 보기 -->
            
            <!-- 다음페이지 이동 -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link " href="/community/?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled ">
                    <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
    
            </ul>
        </nav>
    </ul>

</div>
{% endblock %}