{% extends "base.html" %}
{% load static %}

{% block style %} 
    <link rel="stylesheet" href="{% static '/css/community.css' %}">
{% endblock  %}

<!-- head의 타이틀 -->
{% block title %} view_detail {% endblock %}

{% block content %} 

        <!-- Page content-->
        <div class="container">
            <div class="row up_wrap">
                <!-- Post content-->
                <div class="col-lg-9 co_up">
                    <!-- Title-->
                    <h3>{{ article.title }}</h3>
                    <!-- Author-->
                    <div class="c_head">
                        <a href="#!">{{ article.name }}</a>
                         <!-- Date and time-->
                        <p>{{ article.cdate | date:'Y년 m월 d일 H시i분' }}</p>
                    </div>
                   
                  
            
                    <!-- Post content-->
                    <div class="lead">
                        {{ article.contents | safe }}
                    </div>
                 
                    {% if user == article.owner %}
                    <div class="w_btn">
                        <a href="{% url 'community:update' article.id %}">
                            <button class="shadow">수정</button>
                        </a>
                        <a href="{% url 'community:delete' article.id %}">
                            <button class="shadow">삭제</button>
                        </a>
                    </div>
                    {% endif %}
                    
                </div>
                
            </div>
        </div>
<!-- article.id / article.email-->

  
    

{% endblock %}
