
{% extends "base.html" %}
{% load static %}

<!-- css 적용 부분 -->
{% block style %} 
<link rel="stylesheet" href="{% static '/css/community.css' %}">
{% endblock %}

<!-- head의 타이틀 -->
{% block title %} write {% endblock %}

<!-- 페이지 컨텐츠 영역 -->
{% block content %}  
<div class="container">
    <div class="form_bg shadow ">
        <div class="wr_title pb-4">
            <h4>{{ object.title }} 수정</h4>

        </div>
        <form action="" method="post">
            <table class="wr_form wr_update">
                {% csrf_token %}
                {{ form }} 
            </table>
            <div class="w_btn">
                <button type="submit">
                    확인
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
<!-- 페이지 컨텐츠 영역 끝 -->