{% extends "base.html" %}
{% load static %}

{% block title %}글 삭제 - {{ object.pk }}{% endblock %}
<!-- css 적용 부분 -->
{% block style %} 
<link rel="stylesheet" href="{% static '/css/community.css' %}">
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="del_wrap shadow">
            <div class="del_title">
                <h2>{{ object.title }}</h2>
                  <p>ID_ {{ user }}</p>
            </div>
            
           <div class="del_form">
            <form action="" method="post">
                {% csrf_token %}
                <p>정말 삭제 하겠습니까?</p>
                <input type="submit" value="삭제" class="btn btn-danger px-3 btn-sm ">
                </form>
           </div>
            
        </div>
    </div>
    
   
{% endblock %}