{% extends "base.html" %}
{% load static %}



<!-- css 적용 부분 -->
{% block style %} 
    <link rel="stylesheet" href="{% static '/css/community.css' %}">
{% endblock %}

<!-- head의 타이틀 -->
{% block title %} write - Community {% endblock %}

<!-- 페이지 컨텐츠 영역 -->
{% block content %} 
<div class="container">
    <div class="form_bg ">
        <h3 class="p-3">커뮤니티 글쓰기</h3>
        <p>writer : {{ user }}</p>
        <form action="" method="post" enctype="multipart/form-data">
            <table class="wr_form">
                {% csrf_token %}
                {{ form }} 
            </table>
            <button type="submit" class="">
                확인
            </button>
        </form>
    </div>
</div> 
{% endblock %}
<!-- 페이지 컨텐츠 영역 끝 -->