body{
  background: #E8E5DE;
  overflow-x: hidden;
}
.container{
  margin: 0 auto;

}

.title{
  text-align: center;
  height: 65px;
  background: #535599;
  margin: 0 auto;
  width: 550px;
  
}
.title h3{

  color: white;
  line-height: 65px;
}
.dash_content{
    border-radius: 10px;
    background: whitesmoke;
    margin-block: 1%;
    position: relative;
}
.global img{
  width: 190px;

}
.global ul{
  display: flex;
}

.chart_title{
  background: #535599;
  height: 45px;
  
  margin: 0 auto;
  
}

.chart_title h5{
  line-height: 45px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.c_title_wrap{
  text-align: center;
}

.ds_bg{
    background: #b9b7c9;
    position: relative;
}
.ds_bg::before,
.ds_bg::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color:#b9b7c9;
  }
  .ds_bg::before{

    left: 100%;
  }
.ds_bg::after{
  right: 100%;
}
.canvas_h {
  overflow-y: auto;
  position: relative;
}
.g_word{
  padding: 20px;
}
.card{
  flex-direction: row;
}
.g_btn{
  display: flex;
  justify-content: space-around;
}
.drug_text{
  font-size: 0.7em;
  margin-bottom: 20px;
}
.drug_text p{
  text-align: left;
  padding-top: 15px;
  margin: 0;
}
.drug_text span{
  display: block;
}
.repeat_c{
  
    padding-bottom: 60px;
    margin-top: 20px;
}
.flow{
    text-align: center;
    background: #ffffffd1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media screen and (max-width: 1140px){
  .title{
    text-align: center;
    height: 65px;
    background: #535599;
    margin: 0 auto;
    width: 550px;
    
  }
  .title h3{
  
    color: white;
    line-height: 65px;
  }
  .dash_content{
      border-radius: 10px;
      background: whitesmoke;
      margin-block: 1%;
      position: relative;
  }
  .global img{
    width: 190px;
  
  }
  .global ul{
    display: flex;
  }
  
  .chart_title{
    background: #535599;
    height: 45px;
    
    margin: 0 auto;
    
  }
  
  .chart_title h5{
    line-height: 45px;
    text-align: center;
    font-weight: bold;
    color: white;
  }
  .c_title_wrap{
    text-align: center;
  }
  
  .ds_bg{
    background: #b9b7c9;
    position: relative;
}
.ds_bg::before,
.ds_bg::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color:#b9b7c9;
  }
  .ds_bg::before{

    left: 100%;
  }
.ds_bg::after{
  right: 100%;
}
  
  .canvas_h {
    overflow-y: auto;
    position: relative;
  }
  .g_word{
    padding: 20px;
  }
  .card{
    flex-direction: row;
  }
  .g_btn{
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 990px){

  .title{
    text-align: center;
    height: 65px;
    background: #535599;
    margin: 0 auto;
    width: 550px;
    
  }
  .title h3{
  
    color: white;
    line-height: 65px;
  }
  .dash_content{
      border-radius: 10px;
      background: whitesmoke;
      margin-block: 1%;
      position: relative;
  }
  .global img{
    width: 190px;
  
  }
  .global ul{
    display: flex;
  }
  
  .chart_title{
    background: #535599;
    height: 45px;
    
    margin: 0 auto;
    
  }
  
  .chart_title h5{
    line-height: 45px;
    text-align: center;
    font-weight: bold;
    color: white;
  }
  .c_title_wrap{
    text-align: center;
  }
  
  .ds_bg{
    background: #b9b7c9;
    position: relative;
}
.ds_bg::before,
.ds_bg::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color:#b9b7c9;
  }
  .ds_bg::before{

    left: 100%;
  }
.ds_bg::after{
  right: 100%;
}
  .canvas_h {
    overflow-y: auto;
    position: relative;
  }
  .g_word{
    padding: 20px;
  }
  .card{
    flex-direction: row;
  }
  .g_btn{
    display: flex;
    justify-content: space-around;
}
}
/* @media screen and (max-width: 480px){} */







/* tabs */
.tabs{
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding: 50px;
  padding-bottom: 50px;
  width: 80%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 240px;
  border-style: outset;
  background: #ffffffd1;
}
.tabs input[name=tab-control] {
  display: none;
}
.tabs section{
  text-align: center;

}
.tabs .tab_content img{
  max-width: 40%;
}
.tabs .tab_content p{
    text-align: left;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 600;
    color: gray;
}

.warning{
   margin-top: 30px;
    margin-bottom: 0;
    color: indianred;
    font-weight: bold;
    font-weight: bold;
    font-size: 14px;
}
.legal_title{

  border-bottom: 1px solid #ccc;
}
.legal_title h3{
  font-weight: bold;
}
.tabs .tab_content section h2,
.tabs ul li label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: #535599;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-top: 30px;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}

.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: #535599;
}

.tabs .slider {
  position: relative;
  width: 20%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 100px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #535599;
  border-radius: 1px;
}
.tabs .tab_content {
 
  border-block: 1px solid #ccc;
  padding: 35px 25px;
  
}
.tabs .tab_content section {
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .tab_content section h2 {
  color: #535599;
  display: none;
}
.tabs .tab_content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #535599;
  margin-top: 5px;
  left: 1px;
}


.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: #535599;
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
  fill: #535599;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .tab_content > section:nth-child(1) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: #535599;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
  fill: #535599;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .tab_content > section:nth-child(2) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: #535599;
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
  fill: #535599;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .tab_content > section:nth-child(3) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  color: #535599;
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
  fill: #535599;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .tab_content > section:nth-child(4) {
  display: block;
}



.tabs input[name=tab-control]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label {
  cursor: default;
  color: #535599;
}
.tabs input[name=tab-control]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label svg {
  fill: #535599;
}

@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(5):checked ~ .slider {
  transform: translateX(400%);
}
.tabs input[name=tab-control]:nth-of-type(5):checked ~ .tab_content > section:nth-child(5) {
  display: block;
}







@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .tab_content {
    margin-top: 20px;
  }
  .tabs .tab_content section h2 {
    display: block;
  }
}

/* side */


.side{
    position: fixed;
    right: 2%;
    bottom: 10%;
}
.top{
  height: 55px;
  width: 55px;
  border-radius: 50px;
  background: #535599;
  text-align: center;
}
.top a{
  color: white;
  line-height: 55px;
}


.origin{
  margin-bottom: 10px
  
}
.origin button{
  border: none;
  padding-inline: 10px;
  padding-block: 5px;
  background: #535599;
  color: white;
  height: 55px;
  width: 55px;
  border-radius: 50px;
}

.legal_title p{
    font-size: 14px;
    margin-top: 5px;
    color: gray;
}

/* modal */


.modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  


}

.modal_content{
  position: fixed;
  background: white;
  border-radius: 7px;
  width: 700px;
  z-index: 10;
  padding: 20px;
  padding-bottom: 30px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-align: left;
  
}

.modal_content h3{
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.modal_content p{
  margin:0;
  font-size: 15px;
  font-weight: 600;
}
.modal_content a{
  color: #7a7a7a;
}
.modal_content a:hover{
  color: black;
}
.modal_content > div{
  margin-bottom: 15px;
}

.modal_content button{
  position: absolute;
  top: 5%;
  right: 5%;
  background: none;
  border: none;
}


.modal_content button i{
  font-size: 1.5em;
}
.hidden{
  display: none;
}

/* title */

.title_hidden {
  opacity:0;
}
.title-container {
 
  font-family:Khula;
  font-size:3.5em;
  text-align:center;
  height:200px;
  width:800px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: 170px auto;
}
.title-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

