{% extends "base.html" %}
<!-- static -->
{% load static %}

{% block style %} 
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  
{% endblock %}
<!-- title_area -->
{% block title %}한국 마약 현황 데이터 분석 시각화 > 대시보드{% endblock %}

<!-- contents_area -->
{% block content %}
<div class="container">

  <div class="title my-5 mb-5 shadow animate__animated animate__fadeIn">
    <h3>한국 마약 현황 데이터 분석 시각화</h3>
  </div>

<div>
  <section class="row mb-5">

    <div class="c_title_wrap col-lg-6 wow animate__ animate__fadeInLeft">
      <div class="chart_title px-4 ">
        <h5>최근 5년간 마약 사범 수</h5>
      </div>
      <div class="chart_area dash_content shadow p-3 ">
       
        {% include "dashboard_drug/num_drug_users.html" %}
      </div>

    </div>
    <div class="c_title_wrap col-lg-6">

      <div class="chart_title px-4">
        <h5>2022년 연령대별 단속 내역</h5>
      </div>
      <div class="chart_area dash_content shadow p-3 ">
        {% include "dashboard_drug/age_group_arrests.html" %} 
      </div>

    </div>
    
    
  </section>

  <section class="row mb-5 py-5 ds_bg">
    <div class="c_title_wrap col-lg-5 wow animate__ animate__fadeInLeft">
      <div class="chart_title px-4">
        <h5>2022년 마약류 품목별 단속 현황</h5>
      </div>
      <div class="chart_area dash_content shadow p-3 ">
        {% include "dashboard_drug/drug_items.html" %}
      </div>
    </div>

    <div class="c_title_wrap col-lg-7">
      <div class="chart_title px-4">
        <h5>전 세계 지역별 마약 중독자 수</h5>
      </div>
      <div class="chart_area  dash_content shadow p-3 ">
        {% include "dashboard_drug/global_addicts.html" %} 
      </div>
    </div>

  </section>

  <div class="p-4 flow">
    <h3>국내 마약 유통 흐름도</h3>
    <img
      src="{% static 'img/drug_flow.png' %}"
      alt="
    국내 마약 유통 흐름도
    미국 동남아 중국서
    밀반입을
    - 국제 특급우편, 특송
    화물 이용
    - 공해상 어선 접촉으로
    해양 밀수
    마약 전달 후
    판매책은
    - 마약 재가공 및 포장
  - 텔레그램,
  다크웹으로 판매 후
  마약 전달을 하여
  중간 판매책(드로퍼)은
  - 판매책이 알바로 고용
  - 특정 장소에 마약 숨겨
  놓는 수법(던지기) 등의 방법으로
  구
  매
  자에게 마약 전달을 한다
  구매자는 판매자에게 코인∙무통장 등의 방법으로
  입금한다
    "
    />
  </div>

  <section class="row py-5 ">

    <div class="c_title_wrap col-lg-7">
      <div class="chart_title px-4">
        <h5>최근 5년간 국내 외국인 마약류 사범 현황</h5>
      </div>
      <div class="chart_area dash_content shadow p-3 ">
        {% include "dashboard_drug/foreign_drug_users.html" %} 
      </div>
    </div>
    <div class="c_title_wrap col-lg-5">
      <div class="chart_title px-4">
        <h5>2022년 국내 외국인 마약사범 국적별 현황</h5>
      </div>
      <div class="chart_area dash_content shadow p-3 ">
        {% include "dashboard_drug/foreign_drug_user_nation.html" %}
      </div>
    </div>

  </section>
  <section class="row mb-5 py-5 ds_bg">
    <div class="c_title_wrap col-lg-6">
      <div class="chart_title px-4">
        <h5>연도별 재범사범 전체 수</h5>
      </div>
      <div class="chart_area dash_content shadow p-3 ">
        {% include "dashboard_drug/repeat_crime.html" %} 
      </div>
    </div>

    <div class="c_title_wrap col-lg-6">
      <div class=" chart_title px-4">
        <h5>연도별 중독자 치료감호 수</h5>
      </div>
      <div class="chart_area dash_content shadow p-3 ">
        {% include "dashboard_drug/rehab_data.html" %}
      </div>
    </div>

  </section>
</div>



<!-- tabs -->

<div class="tabs">
  <input type="radio" id="tab1" name="tab-control" checked>
  <input type="radio" id="tab2" name="tab-control">
  <input type="radio" id="tab3" name="tab-control">  
  <input type="radio" id="tab4" name="tab-control">
  <input type="radio" id="tab5" name="tab-control">

  <div class="legal_title">
    <h3>마약이 합법이 나라들</h3>
  <strong>마약이 합법이 나라들에는 어떤 게 있을까?</strong>
  <p>
    마약이 합법화된 나라는 세계적으로는 매우 적습니다. 현재 마약의 합법화 정책 을 채택하고 있는 나라들은 대부분 의료용 마약이나 대마초를 제한적으로 허용하 고 있습니다. 이러한 나라들의 대표적인 예시를
    아래에 나열해 보았습니다.
  </p>

  </div>
  


  <ul>
    <li>
      <label for="tab1" role="button">
       
        <span>네덜란드</span>
      </label>
    </li>
    <li>
      <label for="tab2" role="button">
       
        <span>우루과이</span>
        </label>
        </li>
      <li>
        <label for="tab3" role="button">
         
          <span>캐나다</span>
        </label>
      </li>
      <li>
        <label for="tab4" role="button">
          
          <span>독일</span>
      </label>
    </li>
    <li>
      <label for="tab5" role="button">
        
        <span>이스라엘</span>
    </label>
  </li>
  </ul>
  
  <div class="slider">
    <div class="indicator">
    </div>
  </div>
  <div class="tab_content">
      <section>
        <h2>네덜란드</h2>
        <img src="{% static 'img/flag_netherlands.jpg' %}" alt="netherlands" />
        <p>네덜란드는 대마초 판매가 일부 합법화되어 있습니다. 이 지역에서는 대마초를 파는 커피숍이 존재하며, 대마초는 소규모 사용자에 한해 판매됩니다.</p>
       </section>
       <section>
          <h2>우루과이</h2>       
          <img src="{% static 'img/flag_uruguay.jpg' %}" alt="uruguay" />
        
        <p>우루과이는 대마초의 생산, 판매, 소비가 합법화된 세계 최초 국가 입니다. 하지만 이에 대한 제한이 있으며, 우루과이 국민이나 거주자에 한해 사용이 허용됩니다.</p>
      </section>
      <section>
        <h2>캐나다</h2>
        
        <img src="{% static 'img/flag_canada.jpg' %}" alt="canada" />
        <p>2018년 캐나다는 대마초를 합법화했습니다. 대마초 사용이 금지된 곳도 있지만, 대부분의 지역에서는 대마초를 허용하고 있으며, 대마초를 구 매하는 것도 가능합니다.</p>
      </section>
        <section>
          <h2>독일</h2>
          <img src="{% static 'img/flag_germany.jpg' %}" alt="germany" />
        <p>독일은 의학적 목적으로 대마초 사용을 허용하고 있습니다. 의사의 처 방을 받으면 대마초를 구매할 수 있으며, 일부 의료 보험도 이를 보장합니다.</p>
      </section>

      <section>
        <h2>이스라엘</h2>
         
          <img src="{% static 'img/flag_israel.jpg' %}" alt="israel" />
        <p>이스라엘은 의학적 목적으로 대마초 사용을 허용하는 국가입니다. 이 지역에서는 대마초를 치료제나 약제로 사용할 수 있습니다.</p>
     </section>
     
  </div>

  <p class="warning">
    이외에도 일부 국가에서는 대마초나 기타 마약의 의료용으로의 사용이 허용되고 있으나, 대부분은 엄격한 규제를 적용하고 있습니다. 합법화 여부는 국가별 법률 에 따라 다르므로, 항상 해당 국가의 법률을
    확인하는 것이 중요합니다.
  </p>
</div>

{% include "dashboard_drug/country_drug_legal.html" %}

</div>



{% endblock %}