{% extends "base.html" %}
<!-- static -->
{% load static %}

{% block style %} 
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
{% endblock %}
<!-- title_area -->
{% block title %}한국 마약 현황 데이터 분석 시각화 > 대시보드{% endblock %}

<!-- contents_area -->
{% block content %}
<div class="container">

  <div class="title my-5 mb-5 shadow">
    <h3>한국 마약 현황 데이터 분석 시각화</h3>
  </div>

<div>
  <section class="row mb-5">

    <div class="c_title_wrap col-lg-6 wow animate__ animate__fadeInLeft">
      <div class="chart_title px-4 ">
        <h5>최근 5년간 마약 사범 수</h5>
      </div>
      <div class="chart_area dash_content shadow p-3 ">
       
        {% include "dashboard_drug/num_drug_users.html" %}
      </div>

    </div>
    <div class="c_title_wrap col-lg-6">

      <div class="chart_title px-4">
        <h5>2022년 연령대별 단속 내역</h5>
      </div>
      <div class="chart_area dash_content shadow p-3 ">
        {% include "dashboard_drug/age_group_arrests.html" %} 
      </div>

    </div>
    
    
  </section>

  <section class="row mb-5 py-5 ds_bg">
    <div class="c_title_wrap col-lg-5 wow animate__ animate__fadeInLeft">
      <div class="chart_title px-4">
        <h5>2022년 마약류 품목별 단속 현황</h5>
      </div>
      <div class="chart_area dash_content shadow p-3 ">
        {% include "dashboard_drug/drug_items.html" %}
      </div>
    </div>

    <div class="c_title_wrap col-lg-7">
      <div class="chart_title px-4">
        <h5>전 세계 지역별 마약 중독자 수</h5>
      </div>
      <div class="chart_area  dash_content shadow p-3 ">
        {% include "dashboard_drug/global_addicts.html" %} 
      </div>
    </div>

  </section>

  <section class="row mb-5 ">

    <div class="c_title_wrap col-lg-7">
      <div class="chart_title px-4">
        <h5>최근 5년간 국내 외국인 마약류 사범 현황</h5>
      </div>
      <div class="chart_area dash_content shadow p-3 ">
        {% include "dashboard_drug/foreign_drug_users.html" %} 
      </div>
    </div>
    <div class="c_title_wrap col-lg-5">
      <div class="chart_title px-4">
        <h5>2022년 국내 외국인 마약사범 국적별 현황</h5>
      </div>
      <div class="chart_area dash_content shadow p-3 ">
        {% include "dashboard_drug/foreign_drug_user_nation.html" %}
      </div>
    </div>

  </section>
  <section class="row mb-5 py-5 ds_bg">
    <div class="c_title_wrap col-lg-6">
      <div class="chart_title px-4">
        <h5>연도별 재범사범 전체 수</h5>
      </div>
      <div class="chart_area dash_content shadow p-3 ">
        {% include "dashboard_drug/repeat_crime.html" %} 
      </div>
    </div>

    <div class="c_title_wrap col-lg-6">
      <div class=" chart_title px-4">
        <h5>연도별 중독자 치료감호 수</h5>
      </div>
      <div class="chart_area dash_content shadow p-3 ">
        {% include "dashboard_drug/rehab_data.html" %}
      </div>
    </div>

  </section>

  <div>
    <h3>국내 마약 유통 흐름도</h3>
    <img
      src="{% static 'img/drug_flow.png' %}"
      alt="
    국내 마약 유통 흐름도
    미국 동남아 중국서
    밀반입을
    - 국제 특급우편, 특송
    화물 이용
    - 공해상 어선 접촉으로
    해양 밀수
    마약 전달 후
    판매책은
    - 마약 재가공 및 포장
  - 텔레그램,
  다크웹으로 판매 후
  마약 전달을 하여
  중간 판매책(드로퍼)은
  - 판매책이 알바로 고용
  - 특정 장소에 마약 숨겨
  놓는 수법(던지기) 등의 방법으로
  구
  매
  자에게 마약 전달을 한다
  구매자는 판매자에게 코인∙무통장 등의 방법으로
  입금한다
    "
    />
  </div>

{% include "dashboard_drug/country_drug_legal.html" %}





{% endblock %}