{# 최근 5년간 국내 외국인 마약류 사범 현황 #}
<!-- title -->

<section>
  <canvas id="foreign_drug_users_chart" height="400"></canvas>
</section>

<script>
  const foreign_drug_users_ctx = document.querySelector('#foreign_drug_users_chart')

  const foreign_drug_users_labels = [{% for fdu in foreign_drug_users %} '{{fdu.years_foreign_drug_users}}년', {% endfor %}];

  const foreign_drug_users_data = [{% for fdu in foreign_drug_users %} {{ fdu.personnel }}, {% endfor %}];


  
  const fdu_data = {
      labels: foreign_drug_users_labels,
      datasets: [
          {
              data: foreign_drug_users_data,
              label: "최근 5년간 국내 외국인 마약류 사범 현황",
              backgroundColor: [
                  "#BC827Ba3",
                  "#A77280a3",
                  "#896780a3",
                  "#685D7Aa3",
                  "#48536Ca3",
                  "#2F4858a3",
              ],
              borderColor: [
                  "#BC827B",
                  "#A77280",
                  "#896780",
                  "#685D7A",
                  "#48536C",
                  "#2F4858",
                ],
              borderWidth: 2,
          },
      ],
  };

    const foreign_drug_users_config = {
        type: "bar",
        data: fdu_data,
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true,
                  }
              }]
          }
        }
    };

  new Chart(foreign_drug_users_ctx, foreign_drug_users_config);
</script>
