{# 2022년 기준 국내 외국인 마약사범 국적별 현황 #}
<!-- title -->

<section>
  <canvas id="foreign_drug_user_nation_chart" height="400"></canvas>
</section>

<script>
  const foreign_drug_user_nation_ctx = document.querySelector('#foreign_drug_user_nation_chart')

  const foreign_drug_user_nation_labels = [{% for fdun in foreign_drug_user_nation %} '{{fdun.country}} / {{fdun.num_drug_user}}명 ({{fdun.percent}}%)', {% endfor %}];

  const foreign_drug_user_nation_data = [{% for fdun in foreign_drug_user_nation %} {{ fdun.num_drug_user }}, {% endfor %}];

  const fdun_data = {
      labels: foreign_drug_user_nation_labels,
      datasets: [
          {
              data: foreign_drug_user_nation_data,
              label: "2022년 기준 국내 외국인 마약사범 국적별 현황",
              backgroundColor: [
                  "#FF0000a3",
                  "#E8A392a3",
                  "#FFE6D9a3",
                  "#2F4858a3",
                  "#487E91a3",
                  "#886E8Ca3",
                  
              ],
              borderColor: [
                  "#FF0000",
                  "#E8A392",
                  "#FFE6D9",
                  "#2F4858",
                  "#487E91",
                  "#886E8C",
                ],
              borderWidth: 2,
          },
      ],
  };

  const foreign_drug_user_nation_config = {
      type: "doughnut",
      data: fdun_data,
      options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    }
                }]
            }
      },
  };

  new Chart(foreign_drug_user_nation_ctx, foreign_drug_user_nation_config);
</script>
