{# 전 세계 지역별 마약 중독자 수 #}
<!-- title -->
{% load static %}

<!-- css_area -->
{% block style %}
<style>

</style>
{% endblock %}

<section>
    <canvas id="global_addicts_chart" height="400"></canvas>
  </section>
  
  <script>
    const global_addicts_ctx = document.querySelector('#global_addicts_chart')
  
    const global_addicts_labels = [{% for ga in global_addicts %} '{{ga.country}} / {{ga.num_drug_addicts}}만 명', {% endfor %}];
  
    const global_addicts_data = [
        { x: 31, y: 75, r: 30 },
        { x: 40, y: 30, r: 15 },
        { x: 55, y: 65, r: 40 },
        { x: 50, y: 50, r: 20 },
        { x: 10, y: 10, r: 10 },
        { x: 30, y: 30, r: 25 },
        { x: 70, y: 55, r: 40 },
        { x: 70, y: 70, r: 20 },
        { x: 70, y: 20, r: 10 },
    ];
  
    const ga_data = {
        labels: global_addicts_labels,
        datasets: [
            {
                data: global_addicts_data,
                label: "전 세계 지역별 마약 중독자 수",
                backgroundColor: [
                    "#2F4858a3",
                    "#38496Aa3",
                    "#544672a3",
                    "#773C6Ca3",
                    "#943255a3",
                    "#A13333a3",
                    "#C70D3Aa3",
                    "#16213Ea3",
                    "#FFCFA1a3",
                ],
                // borderColor: [
                //     "#2F4858",
                //     "#38496A",
                //     "#544672",
                //     "#773C6C",
                //     "#943255",
                //     "#A13333",
                //     "#C70D3A",
                //     "#16213E",
                //     "#FFCFA1",
                // ],
              borderWidth: 2,
            },
        ],
    };
  
    const global_addicts_config = {
        type: "polarArea",
        data: ga_data,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    }
                }]
            },
            plugins: {
                legend: {
                    position: 'right',
                    align: 'center',
                    labels: {
                        usePointStyle: true,
                    },
                },
            },
        },
    };
  
    new Chart(global_addicts_ctx, global_addicts_config);
  </script>
  