{# 최근 5년간 마약류 사범 수 #}
<!-- title -->

<section>
  <canvas id="num_drug_users_chart" height="400"></canvas>
</section>

<script>
  const num_drug_users_ctx = document.querySelector('#num_drug_users_chart')

  const num_drug_users_labels = [{% for ndu in num_drug_users %} '{{ndu.years_drug_user}}년',  {% endfor %}];

  const num_drug_users_data = [{% for ndu in num_drug_users %} {{ ndu.num_drug_user }}, {% endfor %}];

  const ndu_data = {
      labels: num_drug_users_labels,
      datasets: [
          {
              data: num_drug_users_data,
              label: "최근 5년간 마약류 사범 수",
              backgroundColor: [
                     
                    "#3E68B6a3", 
                    "#007CC4a3", 
                    "#008DC1a3", 
                    "#009BADa3",
                    "#00A68Ca3"
                  ],
              
              borderColor: [
                    "#3E68B6", 
                    "#007CC4", 
                    "#008DC1", 
                    "#009BAD",
                    "#00A68C"],
              borderWidth: 2,
          },
      ],
  };

    const num_drug_users_config = {
        type: "bar",
        data: ndu_data,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            beginAtZero: true,
            scales: {
              yAxes: [{
                ticks: {
                  min: 0,
                  max: 100000000,
                  beginAtZero: true,
                }
              }]
            }
        },
    };

  new Chart(num_drug_users_ctx, num_drug_users_config);
</script>
