{# 2021년 까지 연도별 재범률 #}
<!-- title -->

<!-- css_area -->

<section>
  <div class="canvas_h repeat_c">
    <canvas id="repeat_crime_chart" height="400"></canvas>
  </div>
  <div class="rc_word_bg drug_text">
    <p class="rc_word">
      <span>※재범인원</span> 
       마약류 사범으로 입건된 전과가 1회 이상 있는 인원
    </p>
  </div>
</section>

<script>
  const repeat_crime_ctx = document.querySelector('#repeat_crime_chart');

  const repeat_crime_labels = [{% for rc in repeat_crime %} '{{rc.years_repeat_crime}}년 ', {% endfor %}];

  const repeat_crime_labels_total = [{% for rc in repeat_crime %} '{{rc.all_drug_user}}명', {% endfor %}];

  const repeat_crime_data = [{% for rc in repeat_crime %} {{ rc.rp_drug_user }}, {% endfor %}];

  const repeat_crime_data_total = [{% for rc in repeat_crime %} {{ rc.all_drug_user }}, {% endfor %}];

  const rc_data = {
      labels: repeat_crime_labels,
      datasets: [
          {
            data: repeat_crime_data_total,
            label: "2021년 까지 연도별 마약사범 전체 수",
            backgroundColor: [
                  "rgb(0,0,0)",
              ],
            borderColor: [
                  "rgb(0,0,0)",
              ],
            borderWidth: 3,
            type: 'line',
          },
          {
              data: repeat_crime_data,
              label: "2021년 까지 연도별 재범인원 수",
              backgroundColor: [
                  "#639D9C",
              ],
              borderColor: ["#639D9C"],
              borderWidth: 3,
              type: 'line',
          },
      ],
  };

  const repeat_crime_config = {
      type: 'bar',
      data: rc_data,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                }
            }]
        }
      },
  };

  new Chart(repeat_crime_ctx, repeat_crime_config);
</script>
