{% extends 'base.html' %}
{% load static %}

{% block title %}
  Blog
{% endblock %}
{% block style %} 
 
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}


{% block content %}    
<!-- Page content-->
<div class="container">
    <div class="row list_main" >
        <!-- Blog entries-->
        <div class="col-lg-8" id="main-area">
            <h1 class="my-4 d-flex b_title">
                BLOG
                <div class="d-flex">
                 <!-- 로그인이 되어 있는 경우에 사용자가 최고관리자이거나 스태프일 때만 버튼 보이게 -->
                {% if user.is_authenticated %}
                     {% if user.is_superuser or user.is_staff %}
                        <!-- New Post -->
                        <a href="/blog/create_post" role="button" class="btn btn-outline-dark ml-2">
                            
                            NEW POST
                            <i class="bi bi-pencil"></i>
                        </a>
                    </a>
                    {% endif %}
                {% endif %}
                <!-- category  -->
                {% if category %}
                    <span class="badge badge-dark ml-2 p-2 ">{{ category }}</span>
                {% endif %}
                <!-- tag -->
                {% if tag %}
                    <span class="badge badge-info float-right ml-2 p-2 " style="font-size: 1rem;">
                    <i class="bi bi-hash"></i>{{ tag }}( {{ tag.post_set.count }} )</span>
                {% endif %}
                
                 </div>
            </h1>
        <!-- 예외처리 -->
        {% if post_list.exists %}
            {% for p in post_list %}
            <!-- Blog post-->
            <div class="card mb-4" id="post-{{p.pk}}">
                {% if p.head_image %}
                <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image" />
                {% else %}
                <img class="card-img-top" src="https://picsum.photos/id/{{ p.id }}/750/350" alt="random_image" />
                {% endif %}
                <div class="card-footer text-muted">
                    {{ p.created_at|date:'Y년 m월 d일 H시i분' }} -
                    <!-- 작성자 들어갈 곳 -->
                    <a href="#">{{ p.author | upper }}</a>
                </div>
                <div class="card-body">
                    {% if p.category %}
                        <span class="badge badge-dark float-right p-1">{{ p.category }}</span>                   
                    {% else %}
                        <span class="badge badge-dark float-right p-1" >미분류</span>
                    {% endif %}
                    <h3 class="card-title">
                        <a href="{{ p.get_absolute_url }}">
                            {{ p.title }}
                        </a>
                    </h3>
                    <p class="card-text">{{ p.content | safe | truncatechars_html:100 }}</p>
                     <!-- tag -->
                     <div class="tag float-right mr-2">
                        
                        {% if p.tags.exists %}
                        <!-- 레코드 하나를 템플릿으로 넘겨받았을 때, ManytoMany 관계의 컬럼의(tags) 데이터 랜더링 방법  -->
                            {% for tag in p.tags.iterator %}
                                 <a href="{{ tag.get_absolute_url }}">
                                     <span class="badge badge-dark pr-2">
                                         <i class="bi bi-hash"></i>{{ tag }}
                                     </span>
                                 </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <!-- button -->
                    <div class="p_button">
                        <a class="btn" href="{{ p.get_absolute_url }}/">Read More →</a>
                    </div>
                </div>
               
            </div>
            {% endfor %}
        {% else%}
            <h4>아직 게시물이 없습니다.</h4>
        {% endif %}
            <!-- Pagination-->
            <!-- <ul class="pagination justify-content-center mb-4">
                <li class="page-item"><a class="page-link" href="#!">← Older</a></li>
                <li class="page-item disabled"><a class="page-link" href="#!">Newer →</a></li>
            </ul> -->
             <!-- 
        1. 페이지별로 목록 보기
           서버쪽에서 목록이 넘어오면 각페이지별로 목록이  보이도록 하기
        2. 이전페이지 기능
           제일 왼쪽 이전페이지를 클릭을 하면, 이전페이지로 이동
           현재 페이지가 1이면, 이전페이지 버튼은 비활성화
        3. 다음페이지 기능
           제일 오른쪽 다음페이지를 클릭을 하면, 다음페이지로 이동
           현재 페이지가 마지막페이지이면, 다음페이지 버튼은 비활성화
     -->
    <nav aria-label="Page navigation example" class="blog_pn">
        <ul class="pagination justify-content-center mb-4">

        <!-- 제일 앞 페이지로 이동 -->
        {% if page_obj.has_previous %}
        <li class="page-item">
        <a class="page-link" href="/blog/?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
        </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
            </li>
        {% endif %}
        

        <!-- 이전페이지 이동 -->
        <!-- 1페이지면 비활성화, 1페이지가 아닐경우는 활성화 -->
        <!-- page_obj.has_previous : 이전 페이지가 있으면 True -->
        {% if page_obj.has_previous %}
            <li class="page-item">
            <a class="page-link" href="/blog/?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <!-- 이전페이지가 없는 경우 -->
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        <!-- 페이지별 목록 보기 -->
        <!-- 
                views.py의 PostList 클래스에 paginate_by = 3 정의를 하면
                템플릿에 넘겨주는 객체 변수
                {{ page_obj.paginator.page_range }}
        -->
        {% for page in page_obj.paginator.page_range %}
            <!-- 현재 선택한 페이지  -->
            <!-- {{ page_obj.number }} -->

            <!-- 현재 페이지에서 이전글 2개 이후글2개씩  -->
            {% if page <= page_obj.number|add:2 and page >= page_obj.number|add:-2 %}
                {% if page_obj.number == page %}
                <!-- 현재 선택한 페이지 번호는 비활성화 시킴 -->
                <li class="page-item disabled " >
                    <a class="page-link bg-dark text-white"  href="{{ request.path }}?page={{page}}">
                        {{ page }}
                    </a>
                </li>
                {% else %}
                <!-- 선택하지 않은 페이지 번호는 활성화 시킴 -->
                <li class="page-item">
                    <a class="page-link blog_h" href="{{ request.path }}?page={{page}}">
                        {{ page }}
                    </a>
                </li>

                {% endif %}
            {% endif %}
        {% endfor %}
            <!-- end 페이지별 목록 보기 -->
            
            <!-- 다음페이지 이동 -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link " href="/blog/?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled ">
                    <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}

            

            <!-- 제일 뒷 페이지로 이동 -->
            {% if page_obj.has_next %}
                <li class="page-item">
                <a class="page-link" href="/blog/?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
                </li>
            {% endif %}

        </ul>
      </nav>
        </div>
        
        {% include 'blog/side_widgets.html' %}
    </div>
</div>

{% endblock %}