{% load socialaccount %}

<header> 
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- logo -->
            <div class="logo">
                <a href="/">LOGO</a>
            </div>
            <!-- nav -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon">
                    <i class="bi bi-list"></i>
                 </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto nav_mid">
                    <li class="nav-item ">
                    <a class="nav-link" href="#">ABOUT ME<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                    <a class="nav-link" href="/dashboard_drug/">DASHBOARD</a>
                    </li>
                    <li class="nav-item ">
                    <a class="nav-link" href="/blog/">BLOG</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/community/">COMMUNITY</a>
                    </li>
                
                </ul>
                <!-- side nav -->
                <ul class="nav_side navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                          {% if user.socialaccount_set.all.0.get_avatar_url %}
                            <img class="rounded-circle mr-1" width="30px" height="30px" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="avatar">
                            {% else %}
                            <img class="rounded-circle mr-1" width="30px" height="30px" src='https://doitdjango.com/avatar/id/1498/dbbb6c39f5c801fd/svg/{{ user.email }}' alt="avatar">
                            {% endif %}
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" style="transform: translateX(-50%);
                        left: 50%;">
                          <a class="dropdown-item p-0 text-center" href="/accounts/logout/">LOGOUT</a>
                        </div>
                      </li>
                    {% else %}
                    <li class="nav-item login_btn">
                        <!-- modal 클릭 이벤트 요소 -->
                        <a class="nav-link" href="#"  data-toggle="modal" data-target="#exampleModal">
                          Sigh In
                            <i class="bi bi-box-arrow-in-right"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

</header>

 <!-- Login Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="bi bi-person"></i>
            Sigh In
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <a href="{% provider_login_url 'google' %}" role="button" class="btn btn-outline-secondary d-block mb-1">
            <i class="bi bi-google mr-3"></i>
            Login with Google
          </a>
          <a href="{% provider_login_url 'kakao' %}" role="button" class="btn kakao d-block mb-1">
            <i class="bi bi-chat mr-3"></i>
            Login with kakao
          </a>
          <a href="/accounts/signup/" role="button" class="btn btn-outline-secondary d-block mb-1">
            <i class="bi bi-envelope-heart mr-3"></i>
            Sigh Up with E-mail
          </a>
          <a href="/accounts/login/" role="button" class="btn btn-outline-secondary d-block mb-1" >
            <i class="bi bi-envelope-heart mr-3"></i>
            Login with E-mail
         </a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

