{% load socialaccount %}

<header> 
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- logo -->
            <div class="logo">
                <a href="/">LOGO</a>
            </div>
            <!-- nav -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon">
                    <i class="bi bi-list"></i>
                 </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto nav_mid">
                    <li class="nav-item ">
                    <a class="nav-link" href="/about_me/">ABOUT ME<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/portfolio/">PORTFOLIO</a>
                    </li>
                    <li class="nav-item ">
                    <a class="nav-link" href="/dashboard_drug/">DASHBOARD</a>
                    </li>
                    <li class="nav-item ">
                    <a class="nav-link" href="/blog/">BLOG</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/community/">COMMUNITY</a>
                    </li>
                
                </ul>
                <!-- side nav -->
                <ul class="nav_side navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                          {% if user.socialaccount_set.all.0.get_avatar_url %}
                            <img class="rounded-circle mr-1" width="30px" height="30px" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="avatar">
                            {% else %}
                            <img class="rounded-circle mr-1" width="30px" height="30px" src='https://doitdjango.com/avatar/id/1498/dbbb6c39f5c801fd/svg/{{ user.email }}' alt="avatar">
                            {% endif %}
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" style="transform: translateX(-50%); left: 50%;">
                          <a class="dropdown-item p-0 text-center" href="{% url 'account_change_password' %}">비밀번호변경</a>
                          <a class="dropdown-item p-0 text-center" href="/accounts/logout/">LOGOUT</a>
                        </div>
                      </li>
                    {% else %}
                    <li class="nav-item login_btn">
                        <a class="nav-link" href="/accounts/login/">
                          Sigh In
                            <i class="bi bi-box-arrow-in-right"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

</header>

 